<!--
 * This is a manifest file that'll be compiled into application.html, which will include all the files
 * listed below and their dependencies.
 *
 * Any html files within this directory, lib/assets/components, or vendor/assets/components
 * can be referenced here using a relative path.
 *
 *= require polymer/polymer
 *= require font-roboto/roboto
 *= require core-icons/core-icons
 *= require core-scroll-header-panel/core-scroll-header-panel
 *= require core-field/core-field
 *= require core-input/core-input
 *= require paper-button/paper-button
 *= require paper-checkbox/paper-checkbox
 *= require paper-dialog/paper-dialog
 *= require paper-dropdown/paper-dropdown
 *= require paper-fab/paper-fab
 *= require paper-icon-button/paper-icon-button
 *= require paper-input/paper-input
 *= require paper-item/paper-item
 *= require paper-menu-button/paper-menu-button
 *= require paper-progress/paper-progress
 *= require paper-radio-button/paper-radio-button
 *= require paper-radio-group/paper-radio-group
 *= require paper-ripple/paper-ripple
 *= require paper-shadow/paper-shadow
 *= require paper-slider/paper-slider
 *= require paper-tabs/paper-tabs
 *= require paper-toast/paper-toast
 *= require paper-toggle-button/paper-toggle-button
 *= require_tree .
-->
