<%= devise_error_messages! %>

<section class="login">
  <h3>Forgot your password?</h3>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "centered-panel", method: :post }) do |f| %>

    <%= hidden_fields(f, :email) %>

    <core-field>
      <core-icon icon="account-circle"></core-icon>
      <paper-input label="Email" type="email" error="Please insert a valid email" layout vertical id="email"></paper-input>
    </core-field>

    <div class="center buttons">
      <a class="submit" %>
        <div class="button raised primary">
          <div class="center" fit>Send instructions</div>
          <paper-ripple fit></paper-ripple>
        </div>
      </a>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</section>

<script>
  (function() {

    var form = document.getElementById('new_user');

    form.addEventListener('submit', function(event) {
      event.preventDefault();
    });

    $('.submit').on('click', function() {
      $('#user_email').val($('#email').val());
      form.submit();
    });

  })();
</script>