
<section>
  <h3>Sign in</h3>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "centered-panel"}) do |f| %>
    <core-field>
      <core-icon icon="account-circle"></core-icon>
      <paper-input label="Email" type="email" error="Please insert a valid email" layout vertical id="user_email" name="user[email]"></paper-input>
    </core-field>

    <core-field>
      <core-icon icon="lock"></core-icon>
      <paper-input label="Password" type="password" layout vertical id="user_password" name="user[password]"></paper-input>
    </core-field>

    <div class="center login-buttons">
      <paper-button label="Sign in" raisedButton type="submit" name="commit" primary><paper-ripple fit=""></paper-ripple></paper-button>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</section>

