<div class="row">
  <% @restaurants.each do |restaurant| %>
    <section class="col-xs-3">
      <div class="card image hover-effect" style="background-image: url(<%= image_url(restaurant) %>);" onclick="vote(<%= restaurant.id %>, '<%= restaurant.name %>' );">
        <paper-ripple class="recenteringTouch" fit></paper-ripple>
      </div>
    </section>
  <% end %>
</div>
<paper-toast class="toast" text="" onclick="discardDraft(this);"></paper-toast>
