<div class="row">
  <% @restaurants.each do |restaurant| %>
    <section class="col-md-4">
      <div class="card image" style="background-image: url(<%= restaurant.image.url(:thumb).to_s %>);" onclick="vote(<%= restaurant.id %>);">
        <paper-ripple class="recenteringTouch" fit></paper-ripple>
      </div>
    </section>
  <% end %>
</div>
<%= link_to 'New Restaurant', new_restaurant_path %>

