<section >
  <% @restaurants.each do |restaurant| %>
    <div class="row-fluid">
      <div class="span4 offset4">
        <%= image_tag restaurant.image.url,  :class => "img-thumbnail" %>
        <h3><%= link_to restaurant.name + ' menu', restaurant_items_path(restaurant) %></h3>
      </div>
    </div>
  <% end %>
</section>