<section>
  <h3>Editing item</h3>

  <%= render 'form' %>

  <nav>
  <ul class="pager">
  <li>
  <%= link_to 'Show', restaurant_item_path(@restaurant, @item) %></li>
  <li><%= link_to 'Back', :back %></li></ul></nav>
</section>
