/* index */
.card {
  max-width: 250px;
  height: 200px;

  &.image {
    background-size: cover;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
  }

  &.selected {
    border: 5px solid #45ada8;
  }
}

.manage-restaurant {
  margin-top: -14px;

  paper-icon-button::shadow {
    #icon {
      color: #45ada8;
      fill: #45ada8;
      opacity: .6;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.show-users {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;

  .avatar {
    width: 70px;
    border-radius: 50%;
    margin: 10px;
  }
}
